body{
	background:blue;
}
div{
	width: 100%;
	height: 300px;
	background: aqua;

}





@media screen and (max-width:1300px){

body{
	background:green;
}
div{
	width: 50%;
}


}/*cierre media q*/ 
@media screen and (max-width:500px){

body{
	background:yellow;
}

}