*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;

}
/**
background-repeat :no-repeat,repeat-x,repeat-y,reapeat;
background-size:auto, 1000px 100px,100% 25%,cover,contian;
background-attachment: fixed scroll;
background-position:50px 200px
left top
left center
left bottom
right top
right center
right bottom
center top
center center
center bottom; 
*/
body{
	font-family:open sans;
	background:url('img/fondo.jpg');
	background-size: cover;
	background-attachment: fixed;
	/*background-repeat: no-repeat;
	background-attachment:fixed;
	background-position:center bottom;*/
}
.contenedor{
	max-width: 1300px;
	width: 90%;
	margin:auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap; 
	padding-top: 40px;
}
header{
 width: 100%;
 padding:20px; 
 padding-top: 5px;
 background: rgba(0, 0, 0, 0.6);
 display: flex;
 flex-direction: row;
 flex-wrap:wrap;
 align-items: center;
 justify-content:space-between;
}
header .logo img{
	border-radius: 100px;
}
header .menu a{
	color:#fff;
	text-decoration: none;
	margin-right: 40px;
	font-size: 18px;
}
header .menu a:hover{
	text-decoration: underline;
}
main{
	background: #fff;
	padding: 20px;
	width: 70%;
}
main article .logo2{
	margin-bottom: 20px;
	text-align: center;
}
main article .logo2 img{
	width: 50%;

}

main article h2{
	margin-bottom:20px;
	font-weight: normal;
	font-size: 30px;
}
main article p{
	margin-bottom:20px;
	font-size:15px;
	line-height: 27px;
}
aside{
	width: 30%;
	background: #537dca;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content:space-between;
	align-items: center;
	padding: 20px;
}
aside .ad{
	background: #FF5733 ;
	font-size:30px;
	text-align: center;
	padding:50px 0;

}
footer{
	width: 100%;
	background: rgba(255,255,255,0.2);
	margin-top:20px;
	padding: 20px;
	margin-bottom: 20px;
	color:#fff;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content:space-around;
}
footer .redes-sociales a{
	color:#fff;
	text-decoration: none;
	margin-left: 20px;
}
footer .redes-sociales a:hover{
	text-decoration: underline;
	padding-top: 5px;
}