*{
	padding: 0;
	margin: 0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
}
body{
	font-family: arial;
	font-size: 16px;
	background: rgba(0,0,56,0.8);
}
.container {
	max-width: 1600px;
	width: 90%;
	margin: 20px auto;
	overflow: hidden;
}
header{
	background: rgba(0,0,0,0.7);
}
header nav{
	width: 100%;
}
header nav ul{
	list-style: none;
	overflow: hidden;
}
header nav ul li{
	float: left;
}
header nav ul li a{
text-decoration: none;
display: inline-block;
color: rgba(255,255,255,0.8);
padding: 15px 20px;
}
header nav ul li a:hover{
	background: #fff;
	color: #000;
}
main{
	width: 70%;
	float: left;
	background: #fff;
}
main .imagen{
	width: 40%;
}
main .imagen img{
	width: 100%;
	vertical-align: top;
}
main section{
	padding: 40px;
}
main section article h2{
	margin-bottom: 20px;
	color: #424242;
}
main section article p{
	margin-bottom: 15px;
	line-height: 27px;
}
aside{
	width: 30%;
	float: left;
	background: rgba(137, 47, 27  ,0.8);
}

aside .widget{
	margin-bottom: 20px;
	padding: 25px;
}
aside .widget h3{
	color:#ff8000;
	border-bottom: 1px solid #ff8000;
	margin-bottom: 10px;
}
aside .widget ul{
	list-style: none;
}
aside .widget ul li{
	border-bottom: rgba(255,255,255,0.1);
	padding: 10px 0;
}
aside .widget ul li a{
	color: #fff;
	text-decoration: none;
}
aside .widget ul li a:hover{
	color:#8f8f8f;
}
aside .widget p
{
	line-height: 27px;
	padding: 25px;
	color: #fff;
	font-weight: 700;
}


footer{
	clear: both;
	width: 100%;
	overflow: hidden;
	text-align: center;
	background: #000;
	color: #fff;
	padding: 15px 0;
}