*{
	padding: 0;
	margin: 0;
}
body{
	background: url('../img/fondo.jpg');
	background-size: 1000px;
	background-position: center;
	background-repeat: no-repeat;
}
header{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%
}
main{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%
}
aside{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%
}
footer{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%
}